<h1>Formulario alumno</h1>
<fieldset>
  <section>
    <label for="">Rut :</label>
    <input
    type="text"
    (input)="nuevoRut($event)"
    > <br> <br>

    <label for="">Nombre :</label>
    <input
    type="text"
    (input)="nuevoNombre($event)"
    > <br> <br>

    <label for="">Apellido :</label>
    <input
    type="text"
    (input)="nuevoApellido($event)"
    > <br> <br>

    <label for="">Edad :</label>
    <input
    type="number"
    (input)="nuevaEdad($event)"
    > <br> <br>

    <label for="">Seccion :</label>
    <input type=""> <br>

    <label for="">Fecha y hora :</label>
    <input type="datetime-local">

    <button>registrar</button>

  </section>
</fieldset>


